{% extends "base.html" %}

{% block content %}

<main class="mdl-layout__content">
  <div class="page-content">
    <main class="main container">

          <div class="form-divider">
            <label class="radio-inline">
              <input type="radio" name="application" id="applicationid1" value="1" checked> Single Application
            </label>
            <label class="radio-inline">
              <input type="radio" name="application" id="applicationid2" value="2"> Joint Application
            </label>
          </div>

          <div class="form-row">
            <div class="form-group">
              <label>Title</label>
              <select class="form-control"  name="x_C1Title">
                <option>Title</option>
                <option>Mr</option>
                <option>Mrs</option>
                <option>Miss</option>
                <option>Ms</option>
              </select>
            </div>
          </div>

          <div class="form-group form-user">
              <label for="exampleInputEmail1">First Name</label>
              <input type="text" class="form-control" name="x_C1Forename"   id="x_C1Forename" placeholder="t.ex. Jian Hong">
          </div>

          <div class="form-group form-user">
              <label for="exampleInputEmail1">Last Name</label>
              <input type="text" class="form-control" id="x_C1Surname"  name="x_C1Surname" placeholder="t.ex. Lim">
            </div>

          <div class="form-row">
            <div class="form-group">
              In the past 12 months have you used any tobacco products including cigarettes, cigars or nicotine replacement products?
              <label class="radio-inline">
                <input type="radio" name="x_C1Smoker" id="x_C1Smoker1" value="1"> Yes
              </label>
              <label class="radio-inline">
                <input type="radio" name="x_C1Smoker" id="x_C1Smoker2" value="0"> No
              </label>
            </div>

            <div class="form-group">
              <label>Date of birth</label>
              <div class="form-row2">
                <select class="form-control form-select" name="x_C1DOB_day">
                      <option value="">Day</option>
                              <option value="01" >01</option>
                              <option value="02" >02</option>
                              <option value="03" >03</option>
                              <option value="04" >04</option>
                              <option value="05" >05</option>
                              <option value="06" >06</option>
                              <option value="07" >07</option>
                              <option value="08" >08</option>
                              <option value="09" >09</option>
                              <option value="10" >10</option>
                              <option value="11" >11</option>
                              <option value="11" >12</option>
                              <option value="11" >13</option>
                              <option value="11" >14</option>
                              <option value="11" >15</option>
                              <option value="11" >16</option>
                              <option value="11" >17</option>
                              <option value="11" >18</option>
                              <option value="11" >19</option>
                              <option value="11" >20</option>
                              <option value="11" >21</option>
                              <option value="11" >22</option>
                              <option value="11" >23</option>
                              <option value="11" >24</option>
                              <option value="11" >25</option>
                              <option value="11" >26</option>
                              <option value="11" >27</option>
                              <option value="11" >28</option>
                              <option value="11" >29</option>
                              <option value="11" >30</option>
                              <option value="11" >31</option>
                </select>

                <select class="form-control form-select" name="x_C1DOB_month">
                   <option value="">Month</option>
                              <option value="01" >Jan</option>
                              <option value="02" >Feb</option>
                              <option value="03" >Mar</option>
                              <option value="04" >Apr</option>
                              <option value="05" >May</option>
                              <option value="06" >Jun</option>
                              <option value="07" >Jul</option>
                              <option value="08" >Aug</option>
                              <option value="09" >Sep</option>
                              <option value="10" >Oct</option>
                              <option value="11" >Nov</option>
                              <option value="12" >Dec</option>
                </select>

                <select class="form-control form-select"  name="x_C1DOB_year" >
                  <option value="">Year</option>
                              <option value="1990" >1990</option>
                              <option value="1991" >1991</option>
                              <option value="1992" >1992</option>
                              <option value="1993" >1993</option>
                              <option value="1994" >1994</option>
                              <option value="1995" >1995</option>
                              <option value="1996" >1996</option>
                  
                  ?>
                           
                </select>  
              </div>
            </div>

          </div>

          <div class="form-row">
            <div class="form-group">
              <label for="exampleInputEmail1">House Name / No</label>
              <input type="text" class="form-control" name="x_C1HouseNumber" >
            </div>
            <div class="form-group">
              <label for="exampleInputEmail1">Street Address</label>
              <input type="text" class="form-control"name="x_C1HouseFlatName" >
            </div>
          </div>

          <div class="form-row">
            <div class="form-group">
              <label for="exampleInputEmail1">Town / City</label>
              <input  type="text" name="x_C1Street" class="form-control" >
            </div>
            <div class="form-group">
              <label for="exampleInputEmail1">Postcode</label>
              <input type="text" name="x_C1Postcode"  class="form-control" >
            </div>
          </div>

          <div class="form-row">
            <div class="form-group">
              <label for="exampleInputEmail1">Mobile Phone</label>
              <input type="text" class="form-control" name="x_C1MobilePhoneNo">
            </div>
            <div class="form-group">
              <label for="exampleInputEmail1">Email Address</label>
              <input type="text" class="form-control" name="x_C1Email" placeholder="t.ex. example@gmail.com">
            </div>
          </div>

     <input type="hidden" name="IPAddress" value="<?php echo $_SERVER['REMOTE_ADDR'];?>">
  
          <button type="submit" class="btn btn-success btn-lg btn-block">Submit</button>
          <small>
            <p>
              <b>BestFitMe</b> offers financial advice in respect of life insurance products based on FCA-approved rules and guidance. If you are in any doubt as to whether this product is suitable for you, you should consider seeking independent financial advice. Quotations for premiums listed via <b>BestFitMe</b>.com comes directly from insurers so it will be the actual price offered. 
            </p>
          </small>
    </form>

    </main>


    <footer class="mdl-mini-footer">
      <div class="mdl-mini-footer__left-section">
        <div class="mdl-logo">BestFitMe</div>
        <ul class="mdl-mini-footer__link-list">
          <li><a href="mailto:james@bestfitme.com" target="_blank">Contact us</a></li>
          <li><a href="privacy.html">Privacy Policy</a></li>
          <li><a href="terms.html">Terms & Conditions</a></li>
        </ul>
      </div>
    </footer>

  </div>

</main>


{% endblock %}

		  

