{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load staticfiles %}


{% block head_title %}Welcome | {{ block.super }}{% endblock %}

<style>
{% block style %}
.navbar-static-top {
	margin-bottom: 0px !important;
}

.jumbotron {
	background-color:#bcebff;
	color: #000;
	{% if featured_image.make_image_background %} 
	background-image: url("{{ featured_image.image.url }}");
	background-repeat: no-repeat;
	background-color: #000;
	background-size: cover;
	background-position-y: -272px;
	{% endif %}
}

{% endblock %}
</style>

{% block content %}

<div class="container">
    <div class="jumbotron centered">
        <div>
            <form class="home-page-big-banner-form form-inline">
                <div class="form-group">
                    <label class="slight-pad-right">I am a</label>
                    <select class="form-control">
                        <option>parent</option>
                        <option>traveler</option>
                    </select>
                </div>
                <div class="form-spacing-gap"></div>

                <div class="form-group">
                    <label class="slight-pad-right">and I am looking for a</label>
                    <select class="form-control">
                        <option>Life Insurance</option>
                        <option>Health Insurance</option>
                        <option>Alien-Invasion Insurance</option>
                    </select>
                    <label class="slight-pad-left">policy</label>
                </div>
                <div class="form-spacing-gap"></div>

                <div class="form-group">
                    <label class="slight-pad-right">that lasts for</label>
                    <select class="form-control">
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                        <option>forever</option>
                    </select>
                    <label class="slight-pad-left">years</label>
                </div>
                <div class="form-spacing-gap"></div>

                <div class="form-group">
                    <input type="submit" class="btn btn-large btn-primary"
                            value="It is that simple!" />
                </div>
            </form>

            {% if not request.user.is_authenticated %}
                <div class="form-spacing-gap"></div>
                    Want personalized recommendation? [LOGIN WITH FACEBOOK BUTTON HERE] !
                </div>
            {% endif %}

        </div>
    </div>

    <div class="centered panel panel-default">
        <div class="panel-body">
            <div class="page-header">
                <h3>Have a vague idea of a policy you are looking for?</h3>
            </div>
            <form>
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Search for policies" />
                </div>

                <div class="form-spacing-gap"></div>

                <div class="form-group">
                    <input type="submit" class="btn btn-success" value="Search" />
                </div>
                <a>Advanced search</a>
            </form>
        </div>
    </div>

    <div class='row'>
        <div class="page-header">
            <h3>Recommended Products</h3>
        </div>

        {% include "products/products.html" with object_list=products col_class_set="col-sm-2" %}
    </div>

    <div class='row'>
        <div class="page-header">
            <h3>Popular policies</h3>
        </div>

        {% include "products/products.html" with object_list=products2 %}
    </div>

</div>

{% endblock %}

