{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load staticfiles %}


{% block head_title %}Welcome | {{ block.super }}{% endblock %}

<style>
{% block style %}
.navbar-static-top {
	margin-bottom: 0px !important;
}

.jumbotron {
	background-color:#bcebff;
	color: #000;
	{% if featured_image.make_image_background %} 
	background-image: url("{{ featured_image.image.url }}");
	background-repeat: no-repeat;
	background-color: #000;
	background-size: cover;
	background-position-y: -272px;
	{% endif %}
}

{% endblock %}
</style>

{% block content %}

<div class="container">
    <div class="jumbotron centered">
        <div class="row">
            <div class="col-md-6 centered">
                <a href={% url 'policies:life_index' %}>
                    <h2>Click to view Life insurance</h2>
                </a>
            </div>
            <div class="col-md-6 centered">
                <a href={% url 'policies:health_index' %}>
                    <h2>Click to view Health insurance.</h2>
                </a>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-3">
            Promoted company 1
        </div>
        <div class="col-xs-3">
            Promoted company 2
        </div>
        <div class="col-xs-3">
            Promoted company 3
        </div>
        <div class="col-xs-3">
            Promoted company 4
        </div>
    </div>
    <br />

    <div class="centered panel panel-default">
        <div class="panel-body">
            <div class="page-header">
                <h3>Have a vague idea of a policy you are looking for?</h3>
            </div>
            <form>
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Search for policies" />
                </div>

                <div class="form-spacing-gap"></div>

                <div class="form-group">
                    <input type="submit" class="btn btn-success" value="Search" />
                </div>
                <a>Advanced search</a>
            </form>
        </div>
    </div>

    <div class='row'>
        <div class="page-header">
            <h3>Recommended Products</h3>
        </div>

        {% include "products/products.html" with object_list=products col_class_set="col-sm-2" %}
    </div>

    <div class='row'>
        <div class="page-header">
            <h3>Popular policies</h3>
        </div>

        {% include "products/products.html" with object_list=products2 %}
    </div>

</div>

{% endblock %}

